.gradle

# Intellij project files
*.iml
*.ipr
*.iws
.idea/

# Fastlane
fastlane/README.md
fastlane/report.xml
fastlane/.env

.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.kotlin/