openapi: "3.1.0"
info:
  version: 1.0.0
  title: Gravatar
servers:
  - url: https://www.gravatar.com
paths:
  /{hash}.json:
    get:
      summary: Profile for a specific hash
      operationId: getProfile
      tags:
        - profile
      parameters:
        - name: hash
          in: path
          required: true
          description: The email's hash of the profile to retrieve.
          schema:
            type: string
      responses:
        '200':
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserProfiles"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
components:
  schemas:
    UserProfiles:
      type: object
      required:
        - entry
      properties:
        entry:
          type: array
          default: []
          items:
            $ref: "#/components/schemas/UserProfile"
    UserProfile:
      type: object
      required:
        - hash
      properties:
        hash:
          description: The email's hash of the profile.
          type: string
        requestHash:
          type: string
        profileUrl:
          type: string
          format: url
        preferredUsername:
          type: string
        thumbnailUrl:
          type: string
          format: url
        last_profile_edit:
          type: string
        profileBackground:
          $ref: "#/components/schemas/ProfileBackground"
        name:
          $ref: "#/components/schemas/Name"
        displayName:
          type: string
        pronouns:
          type: string
        aboutMe:
          type: string
        currentLocation:
          type: string
        job_title:
          type: string
        company:
          type: string
        pronunciation:
          type: string
        share_flags:
          $ref: "#/components/schemas/ShareFlags"
        emails:
          type: array
          items:
            $ref: "#/components/schemas/Email"
    Name:
      type: object
      required:
        - givenName
        - familyName
        - formatted
      properties:
        givenName:
          type: string
        familyName:
          type: string
        formatted:
          type: string
    ShareFlags:
      type: object
      required:
        - search_engines
      properties:
        search_engines:
          type: boolean
    ProfileBackground:
      type: object
      required:
        - color
        - url
      properties:
        color:
          type: string
        url:
          type: string
          format: url
    Email:
      type: object
      properties:
        primary:
          type: boolean
        value:
          type: string
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
